.main-public{
  min-height: calc(100vh - 143px);
}
.footer-public{
  height: 60px;
  background-color: #333333;
}

.main-user{
  min-height: calc(100vh - 143px);
}
.footer-user{
  height: 60px;
  background-color: #333333;
  color: white;
}