 .clientProfilePage {
  padding: 40px 20px 80px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
 

.infoCard {
  width: 100%;
  max-width: 900px;
  padding: 40px;
  display: flex;
  gap: 40px;
    align-items: flex-start;
  
}

.infoLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.infoRight {
  margin-top: 60px;
}

.infoHeader {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 16px;
  justify-content: center;
}

.infoTitle {
  font-size: 29px;
  color: #246B64;
  margin: 0;
}

.editBtn {
  background: transparent;
  border: none;
  color: #246B64;
  font-weight: 700;
  font-size: 20px;
  padding: 9px 10px;
  border-radius: 50rem;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.editBtn:hover {
  color: white;
  background-color: #246B64;
}

.editBtn:focus-visible {
  outline: none;
  background-color: rgba(166, 200, 183, 0.35);
  box-shadow: 0 0 0 0.25rem rgba(107, 179, 167, 0.45);
}

.editBtn:active {
  background-color: rgba(166, 200, 183, 0.5);
}



.infoTableWrap {
  background: #A6C8B7;
  border-radius: 24px;
  padding: 22px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

.infoTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.infoTable tr {
  background: rgba(255,255,255,0.45);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.infoTable tr:hover {
  transform: scale(1.015);
  background: rgba(255,255,255,0.65);
}

.infoTable td {
  padding: 14px 16px;
  border-bottom: none;
}

.infoTable tr:last-child td {
  border-bottom: none;
}

.infoKey {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #4f4038;
}

.infoValue {
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  color: #1f3e3a;
}

.userPhoto {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 18px;
  display: block; 
}

 .clientProfileCars {
  padding: 40px 20px 80px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner-car{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 768px) {

  .infoTable tr {
    display: flex;
    flex-direction: column;
    padding: 10px 14px;
  }

  .infoKey {
    text-align: left;
    margin-bottom: 4px;
  }

  .infoValue {
    text-align: left;
  }

}

@media (max-width: 768px) {
  .editBtn {
    font-size: 13px;
    padding: 4px 12px;
  }
}

@media (max-width: 768px) {

  .infoCard {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .userPhoto {
    width: 300px;
    height: 300px;
  }

}
