.home__grid {
  width: 100%;
  max-width: 1000px;
  display: grid;
  gap: 1.5rem;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img1 img2"
    "img3 img3";
}

.grid__item--1 {
  grid-area: img1;
}

.grid__item--2 {
  grid-area: img2;
}

.grid__item--3 {
  grid-area: img3;
}

.grid__item {
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
}

.grid__item:hover img {
  transform: scale(1.05);
  filter: brightness(0.6);
}

.grid__item:hover .overlay {
  opacity: 1;
}

.grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.4s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.4s ease;

  span {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .home__grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "img2"
      "img3";
  }
}