.about {
  width: 100%;
  overflow: hidden;
}


.about__text h2,
.about__text p {
  text-shadow: 0 2px 10px rgba(0,0,0,0.6);
  
}

.about__block {
  position: relative;

  width: 100vw;
  margin-left: calc(50% - 50vw);

  min-height: 90vh;

  display: flex;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.about__img--1 {
  background-image: url("/images/About/about1.jpg");
}

.about__img--2 {
  background-image: url("/images/About/about2.jpg");
}



.about__block::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0,0,0,0.8) 10%,
    rgba(0,0,0,0.4) 50%,
    rgba(0,0,0,0.8) 90%
  );

  z-index: 1;
}




.about__text {
  position: relative;
  z-index: 2;

  max-width: 600px;
  padding: 4rem;
  color: white;
}

.about__text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about__text p {
  font-size: 1.2rem;
  line-height: 1.6;
}



.about__block--right {
  justify-content: flex-end;
}

.about__block--right .about__text {
  text-align: right;
}